.footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  
  .footer-content p {
    margin: 5px 0;
  }
  
  .footer-content a {
    margin-left: 10px;
    color: #990000;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  